{% if current_user.admin == 0 %}
{% extends "base.html" %}
{% block title %}{{ trip.destination }}{% endblock %}
{% block content %}
    <body id="trip_body">
      <header>
        <nav id="login_navbar" class="navbar">
          <h1 class="webpage_title">TravelBuds</h1>
        </nav>
      </header>

      <div id="trip_box">
        <p><a id="home_btn" class="link-offset-2 link-underline link-underline-opacity-0"
            href="{{ url_for('user_home', username=current_user.username) }}">Home</a></p>
        <p><a id="home_btn" class="link-offset-2 link-underline link-underline-opacity-0"
            href="{{ url_for('user_profile', username=current_user.username) }}">Il mio profilo</a></p>

        <p><a id="logout_btn" class="link-offset-2 link-underline link-underline-opacity-0"
            href="{{ url_for('logout') }}">Logout</a></p>
      </div>

      <div id="trip_page_content" class="container-fluid" >

        <!-- Modale per MEX FLASH -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <!-- Bottone nascosto che attiva il modale automaticamente -->
          <button type="button" id="flashModalTrigger" class="d-none" data-bs-toggle="modal" data-bs-target="#flashModal"></button>

          <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">

                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                  </button>
                </div>
                <div class="modal-body">
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Script che simula il click sul bottone nascosto -->
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              document.getElementById("flashModalTrigger").click();
            });
          </script>
        {% endif %}
      {% endwith %}

        <div id="trip_content" class="position-relative">

          <div id="trip_title">
            <p id="title">{{trip.destination}}</p>
            <p id="subtitle">{{trip.subtitle}}</p>
          </div>
          <img id="trip_img" src="{{trip.bg_img}}" class="card-img-top" alt="trip_img">

          <div id="trip_details_sign">Scopri i dettagli👇</div>

          <div id="trip_card" class="card">
            <div id="trip_card_body" class="card-body">
              <h6 id="card_title" class="card-title">{{trip.start}} ∙ {{trip.end}}</h6>
              <h6 id="card_title" class="card-title mb-5">({{trip.nights}} notti)</h6>
              <h6 id="card_title" class="card-subtitle mb-1">A soli</h6>
              <h2 id="card_title" class="card-subtitle mb-4">{{trip.price}}€</h2>
              <h6 id="card_title" class="card-subtitle mb-2">{{trip.free_seats}} posti disponibili</h6>
              <button id="booking_btn" type="button" class="btn" data-bs-toggle="modal"
                data-bs-target="#bookingModal">Prenota</button>
            </div>

          </div>

            <!-- Box informazioni dettagliate -->
          <div id="trip_details">
            <main id="trip_description" class="col-lg-8 col-md-12">
              <div id="card_description" class="card">
                <div class="card-body">
                  <h4 class="card-title">{{trip.destination}} da scoprire</h4>
                  <hr>
                  <p>{{trip.description}}</p>
                  <br>
                  <h4 class="card-title">L'itinerario nel dettaglio</h4>
                  <hr>
                  <p>{{trip.tour}}</p>

                </div>
              </div>
            </main>

            <aside id="trip_included" >
              <div id="trip_included_card" class="card" >
                <div class="card-body">
                  <h4 class="card-title">Cosa è incluso</h4>
                  <hr>
                  <p>✔ <strong>Alloggio</strong> ({{trip.stay_price}}€)</p>
                  <p>✔ <strong>Attività</strong> ({{trip.act_price}}€)</p>
                  <p>✔ <strong>Trasporti</strong> ({{trip.transport_price}}€)</p>
                </div>
              </div>

              <div id="quest_box" class="card" >
                <div class="card-body">
                  <div id="questbox">
                    <h4 class="card-title m-0">Hai dubbi?</h4>
                    <hr>
                    <button id="quest_btn" type="button" class="btn" data-bs-toggle="modal"
                    data-bs-target="#questModal">Contattaci</button>
                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="questModal" tabindex="-1" aria-labelledby="questModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="quest_title">Fai la tua domanda a {{trip.a_username}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="quest_form" action="/questbox" method="POST">
                                    <div class="mb-3">
                                        <input id="quest_username" name="u_username" class="form-control" type="text"
                                            placeholder="Username" required>
                                    </div>
                                    <div class="mb-3">
                                        <textarea id="quest_text" name="quest" class="form-control" placeholder="Scrivi qui la tua domanda"
                                            required></textarea>
                                        <input type="hidden" name="trip_destination" value="{{ trip.destination }}">
                                        <input type="hidden" name="tripcode" value="{{ trip.tripcode }}">
                                        <input type="hidden" name="a_username" value="{{ trip.a_username }}">
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button id="submit_quest_btn" type="submit" class="btn btn-primary">Invia</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>


                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>

      <!-- Modal PRENOTA-->
      <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Prenota il viaggio per {{ trip.destination }}!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Siamo felici che tu abbia deciso di partire con noi!<br>
                  Conferma la tua prenotazione e potrai vederne i dettagli sul tuo profilo!
                  <br>Si parte!</p>
                <form id="booking_form" action="/booking" method="POST">
                  <input type="hidden" name="u_username" value="{{ current_user.username }}">
                  <input type="hidden" name="tripcode" value="{{ trip.tripcode }}">
                  <input type="hidden" name="destination" value="{{ trip.destination }}">
                  <input type="hidden" name="card_img" value="{{ trip.card_img }}">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button id="submit_quest_btn" type="submit" class="btn btn-primary">Conferma</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

      <footer>
      </footer>
    </body>
{% endblock %}
{% else %}
  <p>Accesso negato.</p>
{% endif %}