{% if not current_user.is_coordinator %}
{% extends "base.html" %}
{% block title %}{{ current_user.name }}{% endblock %}
{% block content %}
    <body id="user_h_body">
        <header>
          <nav id="login_navbar" class="navbar">
            <h1 class="webpage_title">TravelBuds</h1>
          </nav>
        </header>
        <div id="user_page_content" class="container-fluid" >

          <!-- Modale per MEX FLASH -->
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <!-- Bottone nascosto che attiva il modale automaticamente -->
              <button type="button" id="flashModalTrigger" class="d-none" data-bs-toggle="modal" data-bs-target="#flashModal"></button>

              <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                      </button>
                    </div>
                    <div class="modal-body">
                      {% for message in messages %}
                        <p>{{ message }}</p>
                      {% endfor %}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Script che simula il click sul bottone nascosto -->
              <script>
                document.addEventListener("DOMContentLoaded", function () {
                  document.getElementById("flashModalTrigger").click();
                });
              </script>
            {% endif %}
          {% endwith %}


          <div id="home_box">
            <h4 id="home_sub">{{ current_user.name }}, noi siamo pronti a partire! E tu?</h4>
            <div id="home_box_btns">
              <p><a id="home_btn" class="link-offset-2 link-underline link-underline-opacity-0"
                href="{{ url_for('user_profile', username=current_user.username) }}">Il mio profilo</a></p>
              <p><a id="logout_btn" class="link-offset-2 link-underline link-underline-opacity-0"
                href="{{ url_for('logout') }}">Logout</a></p>
            </div>
          </div>

          <!--Viaggi disponibili-->
          <div id="available_cards">

            {% for t in trips %}
            <a href="{{ url_for('trip', id=t.tid) }}" class="av_card_container">
              <img src="{{t.card_img_path}}" class="av_img" alt="{{t.destination}}">
              <div class="av_card_body">
                <h4 class="av_card_title">{{t.destination}}</h4>
                <h6 class="av_card_subtitle">{{t.nights}} notti</h6>
                <h6 class="av_card_info">Offerta a {{t.price}}€</h6>
              </div>
            </a>
            {% endfor %}
          </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

        <footer>
        </footer>
    </body>
{% endblock %}
{% else %}
  <p>Accesso negato.</p>
{% endif %}